/* account component */
.account {
    width: 50%;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    font-size: 12px;
}

.account > span:last-child {
    cursor: pointer;
}
.signup,
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    font-size: 0.7rem;
    border-radius: 4px;
    width: 4.8rem;
    height: 1.8rem;
    font-weight: 300;
    border: 1px solid #333333;
    transition: 0.3s;
    background-color: #ffffff;
}
.signup:hover,
.login:hover {
    font-weight: 500;
    border: none;
    background-color: var(--successGreen);
    color: var(--fontPrimary);
}
